<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2 style="text-align: center;">Login</h2>

    {{#if message}}
        <p style="color : red;">{{message}}</p>
    {{/if}}

    <form action="/login" method="POST" style="text-align: center;">
        <label>Email</label><br />
        <input type="email" name="email" required /> <br /><br />

         <label>Password</label><br />
        <input type="password" name="password" required /> <br /><br />

        <button type="submit">Login</button>

    </form>
</body>
</html>